#Server
NODE_ENV=dev
PORT=4000
SERVER_KEY=''
SERVER_IV=''
X_API_KEY=123456789
#Domains
BASE_FRONTEND_URLS=http://localhost:3000
#Database
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_SCHEMA=public
DB_NAME=postgres
#Swagger
SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=admin
#Jwt
JWT_REFRESH_TOKEN_EXPIRES_IN=7d
JWT_ACCESS_TOKEN_EXPIRES_IN=1hr
JWT_REFRESH_SECRET=secret
JWT_ACCESS_SECRET=secret